client/apps/analytics/maps
client/apps/analytics/dashboards
client/apps/analytics/data-visualizer
client/libs/ui
client/libs/d2
client/libs/d2-ui
client/tools/deploy-build
cli/d2
cli/packages
cli/style
server/core
server/cluster
client/libs/d2-i18n
client/libs/d2-i18n-generate
client/libs/d2-i18n-extract
client/apps/analytics/pivot-tables
client/apps/analytics/charts
client/apps/analytics/gis
client/apps/analytics/event-reports
client/apps/analytics/event-charts
client/apps/core/maintenance
client/apps/core/messaging
client/apps/core/data-quality
client/apps/core/interpretation
client/apps/core/user
client/apps/core/settings
client/apps/core/menu-management
client/apps/core/app-management
client/apps/core/usage-analytics
client/apps/core/datastore
client/apps/core/translations
client/apps/core/data-administration
client/apps/core/user-profile
client/apps/core/cache-cleaner
client/apps/core/import-export
client/apps/core/scheduler
client/apps/capture/event-capture
client/apps/capture/tracker-capture
client/apps/capture/capture
client/libs/gis-api
client/libs/maps-gl
client/apps/core-resource
scratch
cli/deploy-build
cli/engine
