/frontend/apps/analytics/maps
/frontend/apps/analytics/dashboards
/frontend/apps/analytics/data-visualizer
/frontend/libs/ui
/frontend/libs/d2
/frontend/libs/d2-ui
/frontend/tools/deploy-build
/cli/d2
/cli/packages
/cli/style
/backend/core
/backend/cluster
/frontend/libs/d2-i18n
/frontend/libs/d2-i18n-generate
/frontend/libs/d2-i18n-extract
/frontend/apps/analytics/pivot-tables
/frontend/apps/analytics/charts
/frontend/apps/analytics/gis
/frontend/apps/analytics/event-reports
/frontend/apps/analytics/event-charts
/frontend/apps/core/maintenance
/frontend/apps/core/messaging
/frontend/apps/core/data-quality
/frontend/apps/core/interpretation
/frontend/apps/core/user
/frontend/apps/core/settings
/frontend/apps/core/menu-management
/frontend/apps/core/app-management
/frontend/apps/core/usage-analytics
/frontend/apps/core/datastore
/frontend/apps/core/translations
/frontend/apps/core/data-administration
/frontend/apps/core/user-profile
/frontend/apps/core/cache-cleaner
/frontend/apps/core/import-export
/frontend/apps/core/scheduler
/frontend/apps/capture/event-capture
/frontend/apps/capture/tracker-capture
/frontend/apps/capture/capture
/frontend/libs/gis-api
/frontend/libs/maps-gl
/frontend/apps/core-resource
/scratch
/cli/deploy-build
/cli/helpers-engine
/docs/dev-portal
/docs/dhis2
/frontend/libs/app-runtime
/frontend/libs/ui-widgets
/frontend/libs/d2-analysis/
/cli/utils-docsite/
/cli/helpers-template/
/frontend/tools/platform/
